<div class="col-xs-12">
    <div class="form-group">
        <input type="text" id="inputText">
        <button class="btn btn-info btn-sm" id="sayHiBtn">
            say hi
        </button>
    </div>
</div>

#include('inc/script.vm')

<script>
    $("#sayHiBtn").click(function () {
        var name = $("#inputText").val();
        $.ajax("/sayhi.do", {
            type: "post",
            data: {name: name},
            success: function (data) {
                message(data);
            },
            error: function (data) {
                error(data);
            }
        })
    });
</script>